# --- Secrets ---
.env

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# Virtual environments
venv/
.venv/
env/

# --- Django ---
staticfiles/

# --- Node / Tailwind ---
node_modules/

# --- Editor / OS ---
.DS_Store
.idea/
.vscode/

core/settings_test.py
test_db.sqlite3